.App {
  text-align: center;
}

input {
  outline: none;
  padding: 8px;
  width: 20%;
  margin-right: 10px;
}

.button-1,
.button-2 {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.button-1 {
  background-color: rgb(80, 117, 218);
}

.button-2 {
  background-color: rgb(29, 190, 83);
}

.button-:active,
.button-2:active {
  transform: scale(0.98);
}
